---
import BaseLayout from '~/components/layout/BaseLayout.astro';
import Header from '~/components/layout/Header.astro';
import Hero from '~/components/section/Hero.astro';
import Services from '~/components/section/Services.astro';

import '~/styles/base.css';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Services />
  </main>
</BaseLayout>
