---
import BaseLayout from '~/components/layout/BaseLayout.astro';
import Header from '~/components/layout/Header.astro';

import '~/styles/base.css';
---

<BaseLayout>
	<Header />
	<main>
		<h1 class="text-5xl">Hello astro</h1>
	</main>
</BaseLayout>
