---
import { cn } from '~/lib/utils';

import Button from '~/components/common/Button.astro';
import Highlight from '~/components/common/Highlight.astro';
import Banner from '~/components/common/Banner.astro';
---

<section
  id="home"
  class="bg-gray-800 pt-[218px] pb-[100px] text-center text-gray-50"
>
  <div
    class="absolute -inset-80 h-[650px] w-[650px] rounded-full bg-white/5 blur-2xl"
  >
  </div>

  <p
    class="inline-block rounded-full bg-white/10 px-4 py-3 text-[10px] font-medium tracking-wide md:text-sm"
  >
    NUMBER ONE CREATIVE DIGITAL AGENCY
  </p>

  <h1
    class={cn(
      'mt-3 mb-6 font-bold',
      'text-5xl sm:text-6xl md:text-d-sm lg:text-d-lg',
    )}
  >
    <Highlight>Smart Choices</Highlight>
    <br />
    For Your Business Growth
  </h1>

  <p class="text-sm text-gray-200 md:text-xl">
    We're a team of experienced designers, developers, <br
      class="hidden lg:block"
    /> and marketers, passionate about delivering exceptional digital solutions.
  </p>

  <Button title="Contact us" classList="mt-14 mx-auto">
    Contact us
    <img src="/assets/icons/arrow-right.svg" alt="Arrow icon" />
  </Button>

  <Banner />
</section>

<style>
  section {
    background-image: url('/assets/ornament-1.svg');
    background-repeat: no-repeat;
    background-position-x: center;
  }
</style>
