---
import Highlight from '~/components/common/Highlight.astro';
import Accordion from '~/components/common/Accordion.astro';
---

<section id="services" class="py-[56px] lg:py-[100px]">
  <h1
    class="text-5xl md:text-6xl lg:text-d-sm xl:text-d-lg font-bold text-center"
  >
    The Services We Offer <Highlight>For You</Highlight>
  </h1>

  <Accordion />
</section>
