---
import Highlight from './Highlight.astro';
---

<article class="py-[54px] px-[60px] bg-gray-50 rounded-2xl">
  <div class="relative flex gap-10 text-4xl font-semibold">
    <h1>
      <Highlight>01</Highlight>
    </h1>

    <h2>
      <Highlight>UI/UX Design</Highlight>
    </h2>

    <img
      src="/assets/icons/arrow-right.svg"
      alt="arrow"
      class="bg-pine-50 absolute right-0"
    />
  </div>
</article>
