---
import { bannerItems } from '~/lib/misc';
import { cn } from '~/lib/utils';

import BannerItem from './BannerItem.astro';
---

<div
  class={cn(
    'mt-20 relative rounded-2xl overflow-hidden',
    'px-[30px] md:px-[60px] pt-4 md:pt-6 pb-14',
    'bg-gradient-to-br from-shamrock-400 to-pine-300',
  )}
>
  <img
    class="absolute top-0 left-0"
    src="/assets/ornament-banner-1.svg"
    alt="ornament"
  />
  <img
    class="absolute bottom-0 right-0 hidden md:block"
    src="/assets/ornament-banner-2.svg"
    alt="ornament"
  />

  <h1 class="text-lg font-semibold md:text-4xl">
    Benefit of improving your business
  </h1>

  <div class="splide mt-[39px] md:mt-[43px]">
    <div class="splide__track">
      <ul class="splide__list flex justify-between">
        {
          bannerItems.map((banner) => (
            <li class="splide__slide">
              <BannerItem title={banner.title} img={banner.img} />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>

<script>
  import Splide from '@splidejs/splide';
  import '@splidejs/splide/css';

  new Splide('.splide', {
    perPage: 4,
    arrows: false,
    pagination: false,
    drag: false,
    breakpoints: {
      900: {
        perPage: 1,
        arrows: true,
      },
    },
  }).mount();
</script>
