---
import type { ClassValue } from 'clsx';
import { cn } from '~/lib/utils';

export interface Props {
  title?: string;
  classList?: ClassValue;
}

const { title = 'button', classList } = Astro.props;
---

<button
  aria-label={title}
  title={title}
  class={cn(
    'rounded-full py-5 px-8 font-medium',
    'bg-gradient-to-br from-shamrock-400 to-pine-400',
    'transition-opacity hover:opacity-90',
    classList,
  )}
>
  <slot />
</button>
